.table-games {
  display: flex;
  cursor: pointer;
  &-l {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    >img {
      height: 100%;
    }
  }
  &-r {
    margin-left: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}