.summary-cont-box {
  padding: 16px;
  position: relative;
  .summary-cont-top {
    height: 50px;
    display: flex;
    align-items: center;
    .summary-cont-content {
      position: relative;
      margin-left: 100px;
      font-size: 14px;
      cursor: pointer;
      .block {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }
  .game-cont-box {
    display: flex;
    align-items: center;
  }
   .game-cont {
     color: #2C2C2C;
     background-color: #fff;
     border-radius: 8px;
     box-shadow:0px 2px 8px 0px rgba(0,0,0,0.5);
     padding: 16px 16px 32px;
     margin-bottom: 20px;
      .game-cont-title {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 14px;
      }
      .game-ul {
        font-size: 14px;
        display: flex;
        // justify-content: space-between;
        > li {
          margin-right: 50px;
        }

        .game-li-num {
          font-size: 18px;
          margin-top: 4px;
        }
      }
    }
  .table-column-header {
    display: inline-block;
    .el-icon-info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }
}