.gr-box, .gb-box, .gi-box, .gp-box {
  .gr-title {
    height: 40px;
    line-height: 40px;
    background-color: #F8F8F8;
    color:  #2C2C2C;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .el-form-item {
    margin-bottom: 14px;
  }
  .gd-btns {
    height: 80px;
    line-height: 80px;
    margin-top: 20px;
    background-color: #FFF8CC;
    text-align: center;
  }
}