.sp-box {
  .sp-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    &-left {
      font-size: 16px;
      font-weight: 500;
      color: #000;
    }
    &-right {
      font-size: 14px;
      color: #0188fb;
      cursor: pointer;
    }
  }
  .sp-item {
    font-size: 14px;
    color: #2c2c2c;
    font-weight: 500;
    &-title, &-num, &-bg {
      height: 20px;
      line-height: 20px;
    }
    &-bg {
      height: 4px;
      background-color: #8783ec;
      margin-bottom: 14px;
      border-radius: 4px;
    }
  }
}