* {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  background-color: #f4f4f4;
}
.cont-box {
  margin: 16px;
}

.el-table th {
  background-color: #f8f8f8;
}
/* 搜索 form在一行显示 */
.search-form-line {
  display: flex;
}
