* {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  background-color: #f4f4f4;
}
.cont-box {
  margin: 16px;
}

.view-box {
  padding: 16px;
  background-color: #fff;
  min-height: 100%;
}

.view-box .view-box-title {
  height: 40px;
  font-size: 20px;
  font-weight: 500;
}

.el-table th {
  background-color: #f8f8f8;
}
/* 搜索 form在一行显示 */
.search-form-line {
  display: flex;
}

.text-cursor {
  cursor: pointer;
  color: #1890ff;
}
